//sass style
//-------------------------------                     
$baseFontSize:      32px !default;


// pixels to rems 
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
img
{
margin: 0;
padding: 0;
font-family: '微软雅黑';
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
a{
text-decoration: none;
}
img{
display: block;
}
input{
border: none;
outline: none;
}
li{
list-style: none;
}
html,body,#app{
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
*{
    -webkit-tap-highlight-color:transparent;
    -webkit-overflow-scrolling:touch;
}

.demo{
    width: 100%;
    height: 100%;
    margin: 0 auto; /*水平居中*/
    position: relative;
    top: 50%; /*偏移*/
    transform: translateY(-50%);
    // background-image: url('images/srejs.png');
    background-size: auto;
    background-position-y: pxToRem(70px);
    font-weight: bold;
    font-size: $baseFontSize;
    text-align: center;
    // color: #ffffff;
    li a{
        color:#03a9f4;
    }
    .title,.footer{
        color: white;
        font-size: pxToRem(24px);
    }
    .footer{
        text-align: center;
        a{
            color: #ffffff !important;
        }
    }
}