//sass style
//-------------------------------                     
$baseFontSize:      32px !default;


// pixels to rems 
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}
html,body,#app{
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.demo{
    width: 100%;
    height: 100%;
    margin: 0 auto; /*水平居中*/
    position: relative;
    top: 50%; /*偏移*/
    transform: translateY(-50%);
    background-image: url('images/srejs.png');
    background-size: auto;
    background-position-y: pxToRem(70px);
    font-weight: bold;
    font-size: $baseFontSize;
    text-align: center;
    color: #ffffff;
    li a{
        color:#03a9f4;
    }
    .title,.footer{
        color: white;
        font-size: pxToRem(24px);
    }
    .footer{
        text-align: center;
        a{
            color: #ffffff !important;
        }
    }
}